<form #form='ngForm' (submit)="onSubmit(form)">
    <div>
        <label class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-3">
            <input class="form-control"  #UserName='ngModel' name='UserName' [(ngModel)]='formModel.UserName' required>
        </div>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-3">
        <input class="form-control"  #Password='ngModel' name='Password' [(ngModel)]='formModel.Password' type="password" required>
        </div>
        <div class="col-3" style="margin-top: 2em;">
        <button class="btn btn-primary form-control mb-2" [disabled]='form.invalid'>Login</button>
        </div>
    </div>

    <p>You can login with <b>Username:</b> Admin <b> Password:</b>  Admin</p>
</form>