<div *ngIf="service.userDownloadedData">
    <ul>
        <li>Id: {{service.userDownloadedData.id}}</li>
        <li>Role: {{service.userDownloadedData.roles}}</li>
        <ng-template [ngIf]="!edit">
            <li>Username: {{service.userDownloadedData.userName}}</li>
            <li>Full Name: {{service.userDownloadedData.fullName}}</li>
            <li>Email: {{service.userDownloadedData.email}}</li>
            <button (click)="editProfile()">Edit Profile</button>
        </ng-template>
        <ng-template [ngIf]="edit">
            <form #form="ngForm" (submit)="updateProfile(form)">
                <li>Username: <input placeholder="Username" value="{{service.userDownloadedData.userName}}" name="userName" #userName="ngModel" [(ngModel)]="userData.userName"></li>
                <li>Full name: <input placeholder="Full Name" value="{{service.userDownloadedData.fullName}}" name="=fullName" #fullName="ngModel" [(ngModel)]="userData.fullName"></li>
                <li>Email: <input type="email" placeholder="Email" value="{{service.userDownloadedData.email}}" name="=email" #email="ngModel" [(ngModel)]="userData.email"></li>
                <button type="submit">Save</button>
                <button (click)="cancelEdit()">Cancel</button>
            </form>
        </ng-template>
    </ul>
    <ng-template [ngIf]="_editAddress==false">
        <ul>
            <li>Id: {{service.userDownloadedData.address.id}} </li>
            <li>Street: {{service.userDownloadedData.address.street}} </li>
            <li>Street Number:  {{service.userDownloadedData.address.streetNumber}}</li>
            <li>Door:  {{service.userDownloadedData.address.door}}</li>
            <li>City:  {{service.userDownloadedData.address.city}}</li>
            <li>Country:  {{service.userDownloadedData.address.country}}</li>
            <li>Postal Code:  {{service.userDownloadedData.address.postalCode}}</li>
            <button (click)="editAddress()">Edit Address</button>
        </ul>
    </ng-template>
    <ng-template [ngIf]="_editAddress==true">
        <form #form="ngForm" (submit)="updateAddress(form)">
            <ul>
                <li>Street: <input placeholder="Street" value="{{service.userDownloadedData.address.street}}" name="street" #street="ngModel" [(ngModel)]="userData.address.street"></li>
                <li>Street Number: <input placeholder="streetNumber" value="{{service.userDownloadedData.address.streetNumber}}" name="streetNumber" #streetNumber="ngModel" [(ngModel)]="userData.address.streetNumber"></li>
                <li>Door: <input placeholder="door" value="{{service.userDownloadedData.address.door}}" name="door" #door="ngModel" [(ngModel)]="userData.address.door"></li>
                <li>City: <input placeholder="city" value="{{service.userDownloadedData.address.city}}" name="city" #city="ngModel" [(ngModel)]="userData.address.city"></li>
                <li>Country: <input placeholder="country" value="{{service.userDownloadedData.address.country}}" name="country" #country="ngModel" [(ngModel)]="userData.address.country"></li>
                <li>Postal Code: <input placeholder="postalCode" value="{{service.userDownloadedData.address.postalCode}}" name="postalCode" #postalCode="ngModel" [(ngModel)]="userData.address.postalCode"></li>
                <button type="submit">Save</button>
                <button (click)="editAddress()">Cancel</button>
            </ul>
        </form>
    </ng-template>
</div>