<h2>Users:</h2>

<select [(ngModel)]='selectedRole' (ngModelChange)='refreshList()'>
    <option [ngValue]='0'>Admin</option>
    <option [ngValue]='1'>Employee</option>
    <option [ngValue]='2'>Customer</option>
</select>

<table>
    <tr>
        <th (click)='orderBy="name"'>User Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr  *ngFor="let user of list">
        <td>{{user.userName}}</td>
        <td>{{user.fullName}}</td>
        <td>{{user.email}}</td>
        <td></td>
    </tr>
</table>