<h2>Users:</h2>

<select [(ngModel)]='selectedRole' (ngModelChange)='changeRole()'>
    <option [ngValue]='3'>All</option>
    <option [ngValue]='0'>Admins</option>
    <option [ngValue]='1'>Employees</option>
    <option [ngValue]='2'>Customers</option>
</select>

<input type="text" placeholder="Username" [(ngModel)]='searchUserName' (ngModelChange)='refreshList()'>

<table>
    <tr>
        <th>User Name</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr  *ngFor="let user of list; let i = index">
        <td>{{user.userName}}</td>
        <td>{{user.fullName}}</td>
        <td>{{user.email}}</td>
        <td *ngIf='user.role==0'>Admin</td>
        <td *ngIf='user.role==1'>Employee</td>
        <td *ngIf='user.role==2'>Customer</td>
        <th><button>Inspect</button></th>
    </tr>

    <h3>Page {{currentPage}}</h3>

    <button (click)='lastPage()' [disabled]='currentPage<=1'>Last Page</button>
    <button (click)='nextPage()' [disabled]='list.length<=9'>Next Page</button>
</table>