<div style="margin: auto;">
    <div class="card" id="products" style="max-width: 20em;" *ngFor="let product of productService.products">
        <img class="card-img-top" src="{{product.imageUrl}}" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title" id="producttitle">{{product.name}}</h3>
            <p class="card-text" id="producttext">{{product.description}}</p>
            <p>{{product.price | currency}}</p>
            <p>Category: {{product.categoryString}}</p>
            <h6>Quantity:</h6><input type="number" autocomplete="off" #quantity value="1" required min="1" id="productQuantity">
            <button id="addproductbutton" class="btn btn-primary" type="button" (click)="addProductToCart(product, quantity.value)">Add to Cart</button>
        </div>
    </div>
</div>