<p>Register</p>
<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
    <div>
        <label>Username</label>
        <input formControlName="UserName" required>
        <label *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">This field is mandatory</label>
    </div>
    <div>
        <label>Email</label>
        <input formControlName="Email" >
        <label *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid Email Address</label>
    </div>
    <div>
        <label>Full Name</label>
        <input formControlName="FullName" >
    </div>
    <div formGroupName="Passwords">
        <div>
            <label>Password</label>
            <input type="password" formControlName="Password" required>
            <label *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This field is mandatory</label>
            <label *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum 4 characters required</label>
        </div>
        <div>
            <label>Confirm Passowrd</label>
            <input type="password" formControlName="ConfirmPassword" required>
            <label *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory</label>
            <label *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match</label>
        </div>
    </div>
    <div>
        <button [disabled]="!service.formModel.valid">Sign Up</button>
    </div>
</form>